.icon-width{
    width: 120px;
}

.main-menu{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 100px) and (max-width: 767px) {
    .main-menu{
        padding-top: 75px;
    }
}